/* Specific CSS for your home-page */
.banner {
	background-image: asset-data-url("maquettehome2.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment:fixed;
	height: 100vh;
}

.logo {
padding: auto;
margin: auto;
}

footer{
   position:absolute;
   bottom:0;
   width:100%;
   height:0px;   /* Height of the footer */
}

.d-flex{
	background-color: #F2F2F2;
	box-shadow: 0.5px 0.5px 4px #888888;
}

.btn {
	font-family: 'Francois one', sans-serif;
	color: #F2F2F2;
	border-color: #F2F2F2;
	width: 150px;
	background-color: #777A7F;
    position: absolute;
    top: 65%;
    right: 43.5%;
}

.btn:hover {
	font-family: 'Francois one', sans-serif;
	color: #525253; 
	background-color: #CED3DC;
	border-color: #F2F2F2;
}
.new {
	margin-top: 5%
}
.sharesic {
	font-family: 'Sathu', sans-serif;
	text-align: center;
	letter-spacing: 10px;
	font-size: 25px;
}
.signup {
	font-family: 'Francois one', sans-serif;
	text-decoration: none;
	color: #525252;
}
.input.btn{
	background-color: black;
	border:black;
}

.login {
	color:black;
}