		<div class="banner">
				<%= link_to "Discover", articles_path, class: "btn btn-secondary btn-lg" %>

		<footer>
			<!-- Copyright -->
	  		<div class="footer-copyright text-center py-3">© 2018 Copyright:
	   		 	<p class="Sharesic"> Sharesic</p>
	  		</div>
		</footer>
		</div>
		<!-- Footer -->
		
	<!-- Footer -->

	
	                      