<div class="banner">
		<%= link_to "Discover", articles_path, class: "btn btn-secondary btn-lg" %>
	</div>

<!-- Footer -->
		<footer class="page-footer font-small mdb-color lighten-10 pt-5 mt54">
  			<p class="sharesic">
  				SHARESIC
  			</p>
		</footer>
</div>
